.demo-content {
    --ashe-tag-color: red;
    --ashe-tag-background: green;
    --ashe-tag-padding: 5px;
    --ashe-tag-border-radius: 5px;
    --ashe-tag-font-size: 18px;
}

.tag {
    font-size: 20px;
}
