$tag-color: var(--ashe-tag-color, #ffffff) !default;
$tag-background: var(--ashe-tag-background, #165dff) !default;
$tag-padding: var(--ashe-tag-padding, 4px) !default;
$tag-border-radius: var(--ashe-tag-border-radius, 2px) !default;
$tag-font-size: var(--ashe-tag-font-size, 12px) !default;
