@import '@/styles/bem/mixins';
.ashe-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  flex-shrink: 0;
  border: 1px solid black;
  padding: $button-padding;
  color: $button-text-color;
  background: $button-bg-color;
  font-size: $button-font-size;
  border-radius: $button-border-radius;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.8;
    background: lightgray;
    height: 35px;
  }
}
