.ashe-form-item {
  display: flex;
  &__label {
    font-size: 14px;
    font-weight: normal;
    width: 10px;
    margin-right: 10px;
    flex: none !important;
    display: inline-block !important;
    word-wrap: break-word;
    text-align: left;
    position: relative;
    .required {
      position: absolute;

      &::before {
        content: '*';
        color: red;
        margin-right: 4px;
      }
    }
    & > span {
      position: absolute;
      left: 15px;
    }
  }
}
