.doc-demo-preview {
  display: none;
  height: calc(100vh - 161px);
  width: 375px;
  position: absolute;
  right: 30px;
  top: 200px;
  position: fixed;
  top: 120px;
  -webkit-box-shadow: #ebedf0 0 4px 12px;
  box-shadow: #ebedf0 0 4px 12px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 2;
  iframe {
    height: calc(100% - 40px);
    width: 100%;
  }
}
