$brand-color: var(--ashe-brand-color, #fa2c19) !default;
// 主色调
$primary-color: $brand-color !default;
$primary-color-end: #fa6419 !default;
$input-disabled-color: gray;
$input-border-bottom: lightgray;
$white: #fff;
$black: #000;

// 主要内容用色，常用语常规标题内容、细文浏览、常规按钮文字以及图表引导。
$gray1: var(--ashe-gray-1, #1a1a1a) !default;
// 卡片背景色
$gray6: var(--ashe-gray-6, #ffffff) !default;

//button
$_button-padding: 7px, 12px;
$button-font-size: var(--ashe-button-font-size, 16px) !default;
$button-border-radius: var(--ashe-button-border-radius, 2px) !default;
$button-text-color: var(--ashe-button-text-color, $gray1) !default;
$button-bg-color: var(--ashe-button-bg-color, $gray6) !default;
$button-padding: var(--ashe-button-padding, 7px 12px) !default;

// toast
$toast-title-font-size: 16px !default;
$toast-text-font-size: 14px !default;
$toast-font-color: $white !default;
$toast-inner-padding: 24px 30px !default;
$toast-inner-bg-color: rgba(0, 0, 0, 0.8) !default;
$toast-inner-border-radius: 12px !default;
$toast-cover-bg-color: rgba(0, 0, 0, 0) !default;

// mask
$mask-bg-color: var(--ashe-mask-bg-color, rgba(0, 0, 0, 0.7)) !default;
$mask-color: var(--ashe-mask-color, $gray1) !default;
$mask-z-index: var(--ashe-mask-z-index, 1000) !default;

// space
$space-gap: var(--ashe-space-gap, 8px) !default;
$space-vertical: var(--ashe-space-vertical, $space-gap) !default;
$space-horizontal: var(--ashe-space-horizontal, $space-gap) !default;

//grid
$grid-item-text-color: var(--ashe-grid-item-text-color, black) !default;
$grid-item-text-font-size: var(--ashe-grid-item-text-font-size, 12px) !default;
$grid-item-text-margin: var(--ashe-grid-item-text-margin, 8px) !default;
$grid-item-content-padding: var(
  --ashe-grid-item-content-padding,
  16px 8px
) !default;
