@import '../../styles/bem//mixins.scss';

@include b(space) {
  display: flex;

  @include e(item) {
    flex: none;
  }

  @include m(vertical) {
    flex-direction: column;

    @include e(item) {
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include m(horizontal) {
    flex-direction: row;

    @include e(item) {
      margin-right: 18px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include m(wrap) {
    flex-wrap: wrap;
    margin-bottom: calc(18px * -1);

    @include e(item) {
      padding-bottom: 18px;
    }
  }

  @include m(align) {
    @include m(center) {
      align-items: center;
    }

    @include m(start) {
      align-items: flex-start;
    }

    @include m(end) {
      align-items: flex-end;
    }

    @include m(baseline) {
      align-items: baseline;
    }
  }

  @include m(justify) {
    @include m(center) {
      justify-content: center;
    }

    @include m(start) {
      justify-content: flex-start;
    }

    @include m(end) {
      justify-content: flex-end;
    }

    @include m(between) {
      justify-content: space-between;
    }

    @include m(around) {
      justify-content: space-around;

      @include m(evenly) {
        justify-content: space-evenly;
      }

      @include m(stretch) {
        justify-content: stretch;
      }
    }
  }
}
