$white: #fff;
$title-color: #1a1a1a !default;
$doc-header-height: 64px;
$doc-default-nav-bg: $white;
$doc-default-nav-color: $title-color;
$doc-default-color: #160403;
$theme-black-content-bg: #060506;
.doc {
  &-nav {
    position: absolute;
    top: $doc-header-height;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: $white;
    width: 290px;
    height: 100vh;
    border-right: 1px solid #eee;
    overflow: auto;
    padding-left: 35px;
    > ol {
      list-style: none;

      li {
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        color: #1a1a1a;
        position: relative;
        font-weight: 700;
      }

      > ul li {
        padding-left: 29px;
        cursor: pointer;
        height: 100%;
        font-weight: 700;

        > a {
          color: #1a1a1a;
          &:hover {
            color: red;
          }
        }
        .selected {
          color: red;
        }
      }
    }
  }
}
