.components-page {
    .components-container {
        position: relative;
        box-sizing: border-box;
        padding-top: 60px;
        min-height: 100vh;
        display: flex;
        align-items: flex-start;
        padding-left: 240px;
        .components-markdown {
            //max-width: 750px;
            border-radius: 24px;
            background-color: #fff;
            flex: 1;
            margin: 0 20px 20px;
            .doc-wrapper {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                padding: 20px;
                box-sizing: border-box;
                position: relative;
                word-break: break-all;
            }
        }
    }
}
