.doc-wrapper {
  .demo-code-content {
    position: relative;
    overflow: hidden;
    max-height: 240px;
    border: 1px solid #e5e6e8;
    margin-top: 24px;
    border-radius: 2px;
    background: #f7f8fa;
    padding: 10px;
    pre {
      margin: 0;
    }
  }

  .demo-code {
    color: #4e5969;
    width: 100%;
    display: block;
    word-break: normal;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 14px;
    line-height: 22px;
    box-sizing: border-box;
    white-space: pre-wrap;
  }
  .demo-doc-name {
    font-size: 36px;
    font-weight: 500;
    color: #1a2234;
  }

  .demo-doc-desc {
    color: #424e66;
    line-height: 20px;
    font-size: 14px;
    margin: 20px 0 50px;
  }

  .demo-code-title {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
  }

  table {
    text-align: left;
    width: 100%;
    border-radius: 0 0 2px 2px;
    border: 1px solid #e5e6e8;
    color: #1a2234;
    font-size: 13px;
    margin-top: 24px;

    thead {
      background-color: #f2f3f5;
    }

    thead th {
      font-weight: 500;
      white-space: nowrap;
      border-bottom: 1px solid #e5e6e8;
    }

    tbody tr {
      border-bottom: 1px solid #e5e6e8;
    }

    td,
    th {
      padding: 11px 24px;
      max-width: 300px;
    }

    .special {
      color: #165dff;
    }
  }
}

.demo-code-content:hover {
  .demo-code-bar {
    display: block;
  }
}
.demo-code-bar {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  display: none;
}

.show-all {
  max-height: none !important;
  overflow: auto !important;
}

.status {
  color: green;
}
//  .demo-code-operations {
//    .demo-code-operations-spread svg {
//      transform: rotate(180deg);
//    }
//  }
//}
