.ashe-loading {
    display: inline-block;

    &__spinner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // rotate
    .spinner-rotate {
        .rotate {
            animation: rotate 0.7s linear infinite;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            border-top: 2px solid #165dff;
            border-right: 2px solid transparent !important;
            border-bottom: 2px solid #165dff;
            border-left: 2px solid #165dff;
        }
    }

    /* change */
    .spinner-change {
        .change-bounce {
            width: 15px;
            height: 15px;
            background-color: #165dff;
            border-radius: 100%;
            display: inline-block;
            animation: bouncedelay 1.4s infinite ease-in-out;
            animation-fill-mode: both;
        }

        .bounce1 {
            animation-delay: -0.32s;
        }

        .bounce2 {
            animation-delay: -0.16s;
        }
    }

    @-webkit-keyframes bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
        }

        40% {
            -webkit-transform: scale(1);
        }
    }

    @keyframes bouncedelay {
        0%,
        80%,
        100% {
            transform: scale(0);
            -webkit-transform: scale(0);
        }

        40% {
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
