.doc-header {
  $m-r: 50px;
  color: rgb(77, 81, 100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 99;
  height: 60px;
  padding: 0px 10px 0px 24px;
  backdrop-filter: saturate(50%) blur(8px);
  z-index: 99;
  height: 60px;
  box-sizing: border-box;
  user-select: none;

  .header-logo {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 64px;
    margin-left: $m-r;
    font-size: 20px;
    color: #080e29;
    font-weight: 500;
    line-height: 64px;
  }

  .header-nav {
    > ul {
      display: flex;
      font-size: 16px;
      margin-right: $m-r;

      > li {
        padding: 0 20px;
        > a {
          color: rgb(77, 81, 100);
        }
        .active {
          color: red;
        }
      }
    }
  }
}
