.doc {
  &-header {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 1px solid ghostwhite;
    box-shadow: 0 2px 8px #f0f1f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
