.doc-header {
    color: #424e66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    height: 60px;
    padding: 0 10px 0 24px;
    backdrop-filter: saturate(50%) blur(8px);
    box-sizing: border-box;
    user-select: none;
    font-weight: 500;
    min-width: 1320px;
    background: #fff;
    border-bottom: 1px solid #e5e6e8;

    .header-logo {
        position: relative;
        display: inline-block;
        width: 240px;
        height: 64px;
        margin-left: 50px;
        font-size: 22px;
        font-weight: 800;
        line-height: 64px;
        a {
            color: #000000;
        }
    }
    .search {
        position: relative;
        width: 300px;
        height: 40px;
        border: 1px solid #e5e6e8;
        display: flex;

        .search-panel {
            width: 400px;
            max-height: 250px;
            overflow: scroll;
            background: #ffffff;
            position: absolute;
            top: 48px;
            left: 0;
            border: 1px solid #e5e6e8;

            .ashe-cell:first-child {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 2px;
            }
        }
    }

    .header-nav {
        > ul {
            display: flex;
            font-size: 16px;
            margin-right: 50px;

            > li {
                padding: 0 20px;

                > a {
                    color: rgb(77, 81, 100);
                }

                .active {
                    color: rgb(80, 80, 254);
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 2px;
                        right: 2px;
                        bottom: -18px;
                        height: 3px;
                        background-color: #165dff;
                    }
                }
            }
        }
    }
}

.highlighted {
    color: rgb(80, 80, 254);
    font-size: 16px;
    font-weight: bold;
}
