.ashe-header {
    color: #424e66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    height: 60px;
    padding: 0 10px 0 24px;
    backdrop-filter: saturate(50%) blur(8px);
    box-sizing: border-box;
    user-select: none;
    font-weight: 500;
    min-width: 1320px;
    background: var(--bg-color, #fff);
    border-bottom: 1px solid #e5e6e8;

    .ashe-header-logo {
        position: relative;
        display: inline-block;
        width: 240px;
        height: 64px;
        margin-left: 50px;
        font-size: 22px;
        font-weight: 800;
        line-height: 64px;
        a {
            color: #000000;
        }
    }

    .ashe-search {
        position: absolute;
        width: 288px;
        height: 32px;
        display: flex;
        left: 258px;

        .ashe-input > input {
            background-color: rgb(242, 243, 245);
        }

        .ashe-search-panel {
            width: 400px;
            max-height: 250px;
            overflow: scroll;
            background: #ffffff;
            position: absolute;
            top: 48px;
            left: 0;
            border: 1px solid #e5e6e8;

            .ashe-cell {
                &:hover {
                    background: #f2f3f5;
                    border-radius: 0;
                }
            }

            .ashe-cell:first-child:hover {
                background: #f2f3f5;
            }

            .ashe-cell:first-child {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 2px;
            }
        }
    }

    .ashe-header-nav {
        > ul {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-right: 50px;
            font-weight: 400;
            color: #000000;

            > li {
                padding: 0 20px;
                cursor: pointer;
                > a {
                    color: rgb(77, 81, 100);
                }

                .active {
                    color: rgb(80, 80, 254);
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 2px;
                        right: 2px;
                        bottom: -18px;
                        height: 3px;
                        background-color: #165dff;
                    }
                }
            }
        }
    }
}

.highlighted {
    color: rgb(80, 80, 254);
    font-size: 16px;
    font-weight: bold;
}

.ashe-icon-sun-fill,
.ashe-icon-moon-fill {
    font-size: 22px;
    width: 1em;
    height: 1em;
    stroke: currentColor;
    fill: none;
    vertical-align: -6px;
}
