#doc {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  //padding-top: $doc-header-hei
}
.doc {
  &-content{
    margin-left: 290px;
    display: flex;
    flex-direction: column;
    padding: 40px 445px 40px 40px;
  }
}
