.ashe-image {
  display: block;
  position: relative;
  &--img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .ashe-img-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f7f8fa;
    background-size: 100% 100%;
  }

  .ashe-img-error {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f7f8fa;
    background-size: 100% 100%;
  }
}
