.doc-demo-preview {
  width: 22%;
  height: 580px;
  -webkit-box-shadow: #ebedf0 0 4px 12px;
  box-shadow: #ebedf0 0 4px 12px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  right: 180px;
  top: 60px;

  padding: 5px 0 5px;
  iframe {
    height: calc(100% - 40px);
    width: 100%;
  }
}
