.menu-collapse {
    width: 24px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #e5e6eb;
    border-radius: 50%;
    position: fixed;
    top: 400px;
    z-index: 3;
    text-align: center;
    cursor: pointer;
}
.menu-collapse-btn {
    left: 220px;
    transition: left 0.1s ease-in-out;
}
.menu-collapse-btn-close {
    left: 5px;
    transition: left 0.1s ease-in-out;
}
